# requirements.txt

# Core FastAPI and Server
fastapi
uvicorn[standard]
python-dotenv

# Database
sqlalchemy
pyodbc

# API & Requests
requests
httpx

# Data Handling & Utilities
pandas
openpyxl
countryinfo
python-dateutil
dateparser
pytz
ics
python-multipart

# PDF & Charting for Reports
fpdf2
matplotlib

apscheduler